{% extends "base.html" %}

{% block title %}Buscador{% endblock %}

{% block content %}
{% load static %}

<div class="container mt-4">
    {% if resultados %}
        <h2>Resultados para: "{{ query }}"</h2>
        <div class="row">
            {% for propiedad in resultados %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        {% if propiedad.categoria.nombre == 'Casas' %}
                            <a href="{% url 'display_casa' propiedad.slug %}">
                                {% if propiedad.imagen %}
                                    <img src="{{ propiedad.imagen.url }}" class="card-img-top" alt="{{ propiedad.nombre }}">
                                {% else %}
                                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sin imagen">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ propiedad.nombre }}</h5> 
                                    <p class="card-text">Precio: {{ propiedad.precio }}</p>
                                    <p>Categoría: {{ propiedad.categoria.nombre }}</p>
                                </div>
                            </a>
                        {% elif propiedad.categoria.nombre == 'Departamentos' %}
                            <a href="{% url 'display_departamento' propiedad.slug %}">
                                {% if propiedad.imagen %}
                                    <img src="{{ propiedad.imagen.url }}" class="card-img-top" alt="{{ propiedad.nombre }}">
                                {% else %}
                                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sin imagen">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ propiedad.nombre }}</h5> 
                            </a>
                                    <p class="card-text">Precio: {{ propiedad.precio }}</p>
                                    <p>Categoría: {{ propiedad.categoria.nombre }}</p>
                                    
                                </div>
                        {% else %}
                            <a href="#">
                                {% if propiedad.imagen %}
                                    <img src="{{ propiedad.imagen.url }}" class="card-img-top" alt="{{ propiedad.nombre }}">
                                {% else %}
                                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sin imagen">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ propiedad.nombre }}</h5> 
                            </a>
                                    <p class="card-text">Precio: {{ propiedad.precio }}</p>
                                    <p>Categoría: {{ propiedad.categoria.nombre }}</p>
                                </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron resultados para la búsqueda "{{ query }}".</p>
    {% endif %}
{% endblock %}

