{% extends "base.html" %}
{% block title %}Casas{% endblock %}
 
{% block content %}
{% load static %}
<div class="container mt-4">
    <h1>Casas</h1>
    {% if casas %}
        <div class="row">
            {% for propiedad in casas %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        {% if propiedad.imagen %}
                            <img src="{{ propiedad.imagen.url }}" class="card-img-top" alt="{{ propiedad.nombre }}">
                        {% else %}
                            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Sin imagen">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ propiedad.nombre }}</h5>
                            <p class="card-text">Precio: {{ propiedad.precio }}</p>
                            <a class="btn btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No se encontraron departamentos.</p>
    {% endif %}

{% endblock %}