{% extends "base.html" %}
{% block title %}Compras{% endblock %}

{% block content %}
{% load static %}
<div class="container mt-4">
    <h1>Lista de Compras</h1>

    <!-- Botón para agregar una nueva compra -->
    <a class="btn btn-success mb-3" href="{% url 'crear_compra' %}" >Agregar Compra</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Propiedades</th>
                <th>Cliente Nombres</th>
                <th>Cliente Cedula</th>
                <th>Acciones</th>
                <th>Contrato</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td>
                    {% for propiedad in compra.propiedades.all %}
                        {{ propiedad.nombre }}<br>
                    {% endfor %}
                </td>
                <td>{{ compra.cliente.primer_nombre }} {{ compra.cliente.primer_apellido }}</td>
                <td>{{ compra.cliente.cedula }}</td>
                <td>
                    <!-- Botón para ver detalles -->
                    <a class="btn btn-info">Detalles</a>
                </td> 
                <td>
                    {% if compra.contrato %}
                        <a target="_blank">Descargar Contrato</a>
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No se encontraron compras.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}